body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;
    color: darkslategrey;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
    background-attachment: fixed;
    margin: 0px;
}
.header{
    text-align: center;
    background-color: lightsteelblue;
    height: auto;
    width: 100%;
    border: 15px groove darkslateblue;
    padding: 20px;
    margin: 0px;
}
.topnav {
    overflow: hidden;
    background-color: #333;
    height: 25%;
    font-size: 18px;
    width: 100%;
    display: block;
    padding: 10px;
}
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    height: auto;
}
.topnav a:hover {
    background-color: darkgrey;
    color: greenyellow;
    text-decoration: underline;
    text-transform: uppercase;
}
.topnav li {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
}
.column{
    border: 10px solid rgba(66, 109, 150, 0.705);
    background-color: beige;
    background-color: darkgrey;
    float: left;
    width: 28%;
    padding: 15px;
    margin: 10px;
}
.assignmentsColumn{    
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 15px;
    border: 15px groove rgb(75, 197, 201);
    background-color: rgba(155, 134, 204, 0.822);
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}
.container{
    text-align: center;
    background-color: lightsteelblue;
    height: 200px;
    width: 95%;
    border: 15px groove rgb(20, 21, 49);
}
.about{
    display: flex;
    background-color: aquamarine;
    width: 40%;
    padding: 15px;
    border: 5px solid darkturquoise;
    margin: 5%;
}
.classes{
    display: flex;
    background-color: plum;
    width: 25%;
    padding: 15px;
    border: 5px solid aquamarine;
    margin: 5%;
}
.classmates{
    display: flex;
    background-color: lightgreen;
    width: 25%;
    padding: 15px;
    border: 5px solid skyblue;
}
.content-title{
    text-align: center;
    position: top;
    display: block;
}
p{
    font-size: 20px;
}
h1{
    color:rgb(43, 91, 236);
    font-family: Merriweather, serif;
    font-size: 36px;
}
h2,h3{
    color: rgb(82, 33, 128);
    font-size: 24px;
}
h3{
    display: block;
    background-color: cyan;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-shadow: 1px 1px 4px silver;
}
ul{
    text-align: left;
}
th{
    color:slateblue;
    font-size: 16px;
}
table, th, td {
    border: 2px solid rgb(93, 130, 151);
}
link:hover{
    color: paleturquoise;
    text-shadow: turquoise;
    font-size: 26px;
}
a:hover{
    text-transform: uppercase;
    text-decoration: underline;
    color: paleturquoise;
    text-shadow: turquoise;
    font-size: 26px;
}